@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes gradientBG {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}
