.nav-container{
     background: linear-gradient(90deg, #1E3A8A, #6366F1, #22D3EE);;
}
.nav-container.scrolled {
  box-shadow: 0 8px 30px rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
  background: linear-gradient(90deg, #1E3A8A, #6366F1, #22D3EE, #1E40AF);
}